<!doctype html>
<html>
<head>
  <script>
  function fun(){
    var color = '{{color}}';
    document.body.style.backgroundColor = color;
  }
  window.onload = fun;
  </script>
</head>
<!--<link rel="stylesheet" type="text/css" href="mystyle.css">

<head> <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'styles/screen2.css') }}" > </head>
-->

<!-- Main Page Section -->
<div class="container" id = "box.id">

  <!-- Header Bar -->
  <nav class="header">
    <h1>pixel {{color}}</h1>
  </nav>
  <!-- End Header Bar -->

  <body>
  </body>

</div>
<!-- End Main Page Section -->
</html>
