body {
    background-color: #F66733;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* This holds the main content of the web app */
.container {
    display: grid;

    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "...... body   ......"
        "...... music  ......"
        "footer footer footer";
    grid-row-gap: 5vh;

    overflow-x: hidden;
    overflow-y: hidden;
}

/* This holds the header-bar of the web app */
.header {
    align-items: center;
    background-color: #86898C;
    border-bottom: 1px solid #1AD9E0;
    display: flex;
    grid-area: header;
    height: 10vh;
    justify-content: center;
    /* opacity: 0.4; */
}

/*
    This specifies that this rule is only for direct children
    of .header, and that those children have to be h1 elements
*/
.header > h1 {
    color: #522D80;
    font-family: 'Righteous', sans-serif;
    font-size: 2.5em;
    opacity: 1;
}

.description {
    align-items: center;
    color: #522D80;
    display: flex;
    flex-direction: column;
    grid-area: body;
    justify-content: center;
    text-align: center;
}
